.row
  .span12
    = render "shared/hero"
    .page-header.hidden-phone
      h1 Escolha seu clube
    .row
      .span6
        ul.club-list
          - @clubs.each do |club|
            li.span1.club
              = link_to clube_path(:slug => club.slug) do
                .thumbnail
                  = image_tag image_for(club), alt: club.name
        .clear
        .sobre
          p Saiba mais #{link_to 'sobre o Vole.io.', '/sobre'}
      .span6
        .contato.hidden-phone
          h2 Deseja ver seu time no Vole.io?
          p Então entre #{ link_to 'em contato conosco.', contact_path}

          = render partial: 'shared/twitter.html.slim'
          = render partial: 'shared/facebook_like.html.slim'
