= auto_discovery_link_tag(:rss, clube_url(@club.name, :format => :rss))
.row
  div(class="span12 #{@club.slug} show" itemtype="http://schema.org/SportsTeam" itemscope)
    = render "shared/hero"
    ul.breadcrumb.hidden-phone
      = breadcrumbs_for @club
    .page-header
      h1.title itemprop="name" = @club.name
      span.rss.hidden-phone = image_tag 'rss.png'
    .row
      .article-list.span8
        - @articles.each do |article|
          article.summary
                  
            h3 = link_to article.title, club_article_path(@club.slug, article.slug)

            p.article-summary.hidden-phone
              span.source
                = link_to article.source.name, article.source.website
                |  - 
              = raw article.summary 
              br
              span.date=" há #{distance_of_time_in_words(article.published_at, Time.now)}"
        .pagination
          ul
            = paginate @articles
  
      .span4
        .thumbnail.info-box.hidden-phone
          h4= @club.name
          = image_tag "#{@club.slug}-medium.gif", alt: @club.name
          .caption
            h4= @club.name
            p.website= link_to "Site oficial", @club.website 
        = render partial: "club_twitter"
