.row
  article(class="news span8 offset2" itemtype="http://schema.org/Article" itemscope)
    header
      .source-url = @article.source.name
      .article-title
        h1 itemprop="headline" = @article.title
      .article-info
        ul
          li.first
            span.author itemprop="author" = link_to "Link original", @article.url
          li
            span.date itemprop="dateCreated" = I18n.l @article.published_at, :format => :short
      .sharing.hidden-phone
        = render partial: 'shared/tweet_this'

    section.content itemprop="articleBody"
      = raw @article.content

    footer
      p = link_to "Voltar", clube_path(@article.club.slug)

