#top-menu.hidden-phone
  .offset1
    ul.nav
      li.active
        = link_to 'Vole.io', '/', :class => 'brand'
      li
        a href="/clube/internacional"
          img alt="Internacional" src="/assets/internacional.png"
      li
        a href="/clube/gremio"
          img alt="Grêmio" src="/assets/gremio.png"
      li
        a href="/clube/flamengo"
          img alt="Flamengo" src="/assets/flamengo.png"
      li
        a href="/clube/corinthians"
          img alt="Corinthians" src="/assets/corinthians.png"
      li
        a href="/clube/saopaulo"
          img alt="São Paulo" src="/assets/sao-paulo.png"
      li
        a href="/clube/vasco"
          img alt="Vasco" src="/assets/vasco.png"
      li
        a href="/clube/palmeiras"
          img alt="Palmeiras" src="/assets/palmeiras.png"
      li
        a href="/clube/fluminense"
          img alt="Fluminense" src="/assets/fluminense.png"
      li
        a href="/clube/botafogo"
          img alt="Botafogo" src="/assets/botafogo.png"
      li
        a href="/clube/santos"
          img alt="Santos" src="/assets/santos.png"
      li 
        a href="/clube/cruzeiro"
          img alt="Cruzeiro" src="/assets/cruzeiro.png"
      li
        a href="/clube/atletico-mg"
          img alt="Atlético-MG" src="/assets/atletico-mg.png"
.site-title.visible-phone
  = link_to '/' do
    h1 Vole.io
