a href="https://twitter.com/share" class="twitter-share-button" data-via="vole_io" data-lang="pt" data-size="large" data-related="vole_io"
  | Tweetar
javascript:
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
