= render partial: "shared/hero"
.span12
  .page-header
    h1 Contato
  .row
    .span6
      h2 Reclamações e Sugestões
      p O Vole.io é um projeto criado por um amante de futebol. Se você também se considera um fanático pelo esporte bretão, sua contribuição é muito importante para mim.
      p Críticas e sugestões serão muito bem-vindas.

      h2 Indique seu Time
      p A meta deste site é cobrir os principais clubes de futebol nacionais. Porém, estes serão adicionados em etapas baseadas em procura e pedidos de visitantes. Use o formulário ao lado para sugerir seu clube e aumentar as chances de ele fazer parte do Vole.io.
    .span6
      = render partial: "contact/form"
