= render partial: "shared/hero"

div(class="about span12" itemscope itemtype="http://schema.org/AboutPage")
  .page-header
    h1 O que é o Vole.io?
  .row
    .span6 itemprop="text"
      p Vole.io é um agregador de notícias de futebol, criado por um fanático como hobby. Este é um projeto pessoal, sem qualquer apoio de empresas ou grupos jornalísticos.

      h2 Qual a origem das notícias?
      p As notícias são coletadas dos principais portais esportivos e blogs especializados. Após as fontes serem manualmente escolhidas, o conteúdo é atualizado automaticamente durante o dia.
      p 
        | Caso você tenha reclamações, sugestões de sites ou deseja outras informações, 
        = link_to 'entre em contato.', '/contato'
