= form_for @message, :url => contact_path, :class => 'form-horizontal' do |form|
  fieldset
    legend Deixe seu recado
    .control-group
      = form.label :nome, class: "control-label"
      .controls
        = form.text_field :name, class: "input-xlarge"

      = form.label :email, class: "control-label"
      .controls
        = form.text_field :email, class: "input-xlarge"
        p class="help-block"
          | Informe seu email para que possamos retornar sua mensagem

      = form.label :mensagem, class: "control-label"
      .controls
        = form.text_area :body, class: "input-xlarge", rows: 3
  fieldset class="actions"
    = form.submit "Send"
