/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require variables
 *= require_tree .
*/


@mixin menu {
  position: fixed;
  top: 0;
  left: 0;
   a {
    float: none;
    line-height: 19px;
    }

  .brand{
    font-size: 20px;
  }
//  height: 40px;
  ul {
    li {
      margin-left: 0;
      padding: 3px 10px;
      list-style: none;
      display: inline;
      float: left;
    }
  }

  img {
    width: 25px;
    height: 25px;
  }

}

*{
  margin: 0;
  padding: 0;
}

body{
  background: url(background.png) repeat;
  color: #292929;
  color: rgba(0, 0, 0, 0.82);
  text-shadow: 0 1px 0 #E6E5E4;
  -webkit-text-shadow: 0 1px 0 #e6e5e4;
  -moz-text-shadow: 0 1px 0 #e6e5e4;
  -webkit-text-size-adjust: none;
}


a {
  color: #890101;
  text-decoration: none;
}

#top-menu{
  @include menu;
  width: 100%;
  z-index: 1337;
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(#f8f8f8, #eaeaea);
  border-bottom: 1px solid #AAA;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

 }

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

// Landscape phones and down
@media (max-width: 480px) { 
  body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .container{
    padding-left: 10px;
  }

  .site-title{
    margin: 0;
    padding: 0;

    h1 {
      background-color: #333;
      border-bottom: 1px solid #666;
      color: white;
      display: block;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media (min-width: 480px) and (max-width: 768px)  { 
  .hero-unit{
    margin-top: 80px;
  }
}


