// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
  p {
    margin: 0 0 2em;
    font-size: 16px;
    line-height: 22px;
  }

  img {
    padding: 20px;
    display: block;
    margin: 0.5em auto;
    max-width: 100%;
  }

  header{
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 2em 0.5em 0.5em;

    .source-url{
      font-size: 0.8125em;
      color: rgba(30, 27, 20, 0.85);
      font: small-caps bold 0.75em Constantia, Palatino, Georgia, serif;
      letter-spacing: 0.2em;
      text-align: center;
      text-transform: lowercase;
    }
    
    .article-title{
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .sharing {
      margin: 8px;
    }

    .article-info{ 
      ul{

        li{
          margin-left: 0;
          padding: 3px 10px;
          list-style: none;
          display: inline;
          float: left;
                 }
      }
    }

    h1 {
      display: block;
      font-variant: normal;
      font-weight: normal;
      letter-spacing: 0;
    }

  }

  > footer{
    margin-top: 20px;
  }

}

@media (max-width: 480px) { 
  .news{
    header{
      padding: 2em 0.5em 3em;
    }
  }
}


