$red: #DC0600;
$blue: #1FB6ED;
$black: black;
$green: #177D49;


.club-list{

  list-style: none;
  h5 {
    text-align: center;
  }
  li {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  li:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  .thumbnail > img {
    width: 40px;
    height: 40px;
  }

  }
span.date{
    color: grey;
  }

.clear {
  clear: both;
}

.info-box {
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  width: 210px;
  box-shadow: 0px 0px 10px #bebebe;
  border: 1px solid #BEBEBE;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.sobre {
  margin-top: 20px;
}

article.summary{
  margin-bottom: 15px;
  border-bottom: 1px solid #EEE;
}

p.article-summary{
  text-indent: none;
}

.club-information{
  padding: 10px;
}

.pagination ul{
  width: 100%;
}

.share{
  margin-top: 30px;
}

@media (max-width: 480px) { 
  .club-list{
    li {
      margin-left: 1px;
    }
  }
}


@media (min-width: 768px) {
  h1.title{
    float: left;
    margin-right: 20px;
  }
}


.internacional, .flamengo, .sao-paulo {
 a {
  color: $red;
  }
}

.gremio, .cruzeiro{
  a{
    color: $blue;
  }
}

.corinthians, .vasco, .santos, .atletico-mg, .botafogo{
  a{
    color: $black;
  }
}

.palmeiras, .fluminense{
  a {
    color: $green;
  }
}

