doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=charset=utf-8"
    meta name="description" content="Notícias atualizadas sobre os principais clubes do futebol brasileiro."
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"
    title #{site_title} 

    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: "shared/facebook_meta_tags"
    = render partial: "shared/analytics"
  body
    = render partial: "shared/facebook_header"
    = render partial: 'shared/top_menu'
    .container
      = yield
      = render partial: 'shared/footer'

